/* Color Scheme */
/* MAIN 1: #2c592f - Dark Green */
/* POSSIBLE: MAIN 1: #203354 - Dark Blue */
/* MAIN 2: #2b3137 - Very Dark Blue */
/* Background 1: #fff - White */
/* Background 2: #edeef0 - Light Gray */
/* Background 3: #ebfffc - Light Teal */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
.clearfix-both{
    clear: both;
}
.clearfix-all{
    clear: all;
}
.navbar{
    overflow: hidden;
    background-color: #2c592f;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    text-align: center;
    z-index: 1;
}
.navbar a{
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 10px 5%;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}
.navbar a:hover{
    background: #fff;
    color: black;
}

.banner{
    background-image: url(images/Banner_5_repl1.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
}
.banner-content h1{
    color: #fff;
    padding-top: 190px;
    padding-left: 100px;
    float: left;
    width: 40%;
}
.banner-content p{
    float: right;
    width: 30%;
    color: #fff;
    padding-top: 435px;
    font-weight: bold;
}
.banner-content p a{
    margin-right: 50%;
}
main{
    width: 80%;
    margin: 40px auto;
    background-color: #fff;
}

/* sideleft and sideright only exist in the about section now */
.sideleft{
    float: left;
    width: 50%;
}
.sideright{
    float: right;
    width: 40%;
}
.sideright a, .sideleft a{
    align-items: center;
    margin: 20px auto;
    text-decoration: none;
}
.sideright h2, .sideleft h2{
    text-align: center;
    color: #2c592f;
}
.sideright p, .sideleft p{
    text-align: center;
}
#About-header h1, #Education-header h1, #Contact-header h1{
    color: #2c592f;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 40px;
}
#Projects-header h1{
    color: #2c592f;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 40px;
    padding-bottom: 80px;
}
.photos img{
    width: 25%;
    height: 100%;
    float: left;
    box-shadow: 3px 10px 7px rgba(0,0,0,0.3);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 6px solid #39873e;
}
.weathertext{
    padding: 20px 100px; 
    text-align: center;
}
.contacttext{
    text-align: center;
    align-items: center;
}
.contacttext input #mySubmit{
    transition: background-color 0.3s color 0.3s;
}
.contacttext input #mySubmit:hover{
    background-color: #2b3137;
    color: #fff;
}
.contacttext label{
    font-size: 14px;
}
.contacttext input, .contacttext textarea {
    display: block;
    margin: 5px auto;
    padding: 10px;
    width: 65%;
    max-width: 400px;
    border: 1px solid #2b3137;
    border-radius: 5px;
}
.contacttext p{
    padding: 25px 0;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
    text-align: center;

}
footer{
    padding: 50px;
    background-color: #2c592f;
    color: #fff;
    text-align: center;
    font-size: 15px;
}
.socials a{
    text-decoration: none;
    margin: 0px 5px;
}
.socials img{
    width: 30px;
}
.background-shape-wrapper{
    position: relative;
    padding: 50px;
    background: #edeef0;
    clip-path: polygon(0 0, 100% 0.5%, 100% 100%, 0 99.5%);
}
.project {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.project-description {
    flex: 1;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
    min-width: 300px;
    padding: 10px;
}
.project-description h3{
    padding: 10px;
    text-align: center;
    color: #2c592f;

}
.project-description h4{
    padding: 10px;
    text-align: left;
    color: #2c592f;
}
.project-description ul{
    padding-left: 25px;
    list-style-type:square;
}
.project-description p{
    text-align: center;
    transition: transform 0.3s ease, color 0.3s ease;
}
.project-description li{
    text-align: left;
    transition: transform 0.3s ease, color 0.3s ease;
}
.project-description li:hover, .project-description p:hover{
    transform: scale(1.05);
    color: #2b3137;
}
.project-name {
    font-weight: bold;
    color: #2c592f;
    text-align: center;
    margin-bottom: 30px;
}
.project-description .lang{
    text-align: left;
    font-size: small;
    margin-bottom: 10px;
}
.project-description .date{
    text-align: right;
    font-size: small;
    margin-bottom: 10px;
}
  
.project-media {
    flex: 1;
    min-width: 300px;
    padding: 10px;
    padding-top: 20px;
    text-align: center;
}
  
.project-media video{
    max-width: 100%;
    width: 80%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}
.project-media img {
    max-width: 100%;
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.project-media video:hover {
    transform: none;
}
.github-link {
    display: block;
    width: 200px;
    margin: 30px auto 0;
    padding: 10px 15px;
    background-color: #fafbfc;
    border: 1px solid #2b3137;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.1s, color 0.1s;
}
  
.github-link:hover {
    background-color: #2b3137;
    color: #fafbfc;
}
/* To Accomodate for Smartphones */
@media (max-width: 600px) {
    ul {
        padding: 10px;
    }

    li {
        padding: 10px;
        text-align: center;
    }

    form {
        padding: 10px 0;
    }

    footer {
        padding: 20px;
        font-size: 12px;
    }

    .socials a {
        margin: 0px 2px;
    }

    .socials img {
        width: 20px;
    }

    .background-shape-wrapper {
        padding: 20px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .navbar a {
        padding: 10px 2%;
    }

    .banner-content h1, .banner-content p {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        float: none;
        text-align: center;
    }

    .sideleft, .sideright {
        width: 100%;
        float: none;
    }

    .photos img {
        width: 100%;
        padding: 10px 0;
    }

    .project {
        flex-direction: column;
    }

    .project-description, .project-media {
        min-width: 100%;
        padding: 10px 0;
    }

    .github-link {
        width: 100%;
    }
}