/* Color Scheme */
/* MAIN 1: #2c592f - Dark Green */
/* MAIN 2: #2b3137 - Very Dark Blue */
/* Background 1: #fff - White */
/* Background 2: #edeef0 - Light Gray */
/* Background 3: #ebfffc - Light Teal */

*{
    margin: 0;
    padding: 0;
    font-family: 'serif', sans-serif;
    box-sizing: border-box;
}
body{
    background: #fff;
}
.weather-card{
    width: 100%;
    max-width: 1000px;
    background: radial-gradient(#ebfffc, #2c592f);
    color: #fff;
    margin: 50px auto 30px;
    padding: 40px 35px;
    text-align: center;
    border-radius: 15%;
    border: #2b3137 3px solid;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    border: 2px solid #2b3137;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button {
    border: 2px solid #2b3137;
    background: #ebfffc;
    border-radius: 40%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.weather-icon{
    width: 110px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.weather h1{
    font-size: 40px;
    font-weight: 500;
}
.weather h2{
    font-size: 30px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;

}
.humidity, .wind{
    font-size: 20px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
.columns{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    flex: 1; 
    margin: 0 30px; 
    text-align: center;
}
.columns h3{
    color: #2c592f;
    padding-bottom: 10px;
}
/* This columns-img only references the school photo*/
.columns-img{
    border: #2b3137 3px solid;;
}
.columns img{
    max-width: 100%;
    max-height: 40%;
    margin-bottom: 10px;
    object-fit: contain; 
}
.static-weather-card{
    font-size: 10px;
    width: 100%;
    max-width: 1000px;
    max-height: 30%;
    background: linear-gradient(0deg, #2c592f, #ebfffc);
    color: #fff;
    margin: 25px auto;
    padding: 20px 10px;
    text-align: center;
    border-radius: 15%;
    border-style: ridge;
    border-color: #2b3137;
    object-fit: contain; /* Keeps image proportion */
}
.static-humidity, .static-wind{
    margin-top: -6px;
}
.static-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin: 0px 20px;
}
.static-button{
    display: block;
    margin: 15px auto;
    width: 40%;
    padding: 5px;
    max-width: 400px;
    border: 1px solid #2b3137;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.static-button:hover {
    background-color: #2b3137; 
    color: #fff; 
}
.weather-text{
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
    text-align: center;
}
.education-wrapper{
    display: flex;
    flex-wrap: wrap; 
}
.education-background {
    position: relative;
    padding: 50px;
    background: #edeef0;
    clip-path: polygon(0 2%, 100% 0, 100% 98%, 0 100%);
}
/* To Accommodate for Smartphones */
@media (max-width: 600px) {
    .education-wrapper {
        flex-direction: column;
        padding: 10px;
    }

    .columns {
        width: 100%;
        margin-bottom: 20px;
    }

    .static-weather-card {
        font-size: 12px;
        padding: 15px;
    }

    .weather-text {
        font-size: 12px;
    }

    .education-background {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}